.App {
  text-align: center;
  background-color: #faf9f7
}

body{
    background-color: #faf9f7
}

@import url('https://fonts.googleapis.com/css?family=Cabin&display=swap');

h1{
  margin-top: 100px;
  color: #524f4a;
   font-family: 'Cabin', sans-serif;
   line-height: 0px;

}

h3, h5{
    color: #524f4a;
}

hr{
  width: 500px;
    color: #524f4a;
}
